<template>
  <div class="v-{{name lowercase}}">
    <slot />
  </div>
</template>

<script setup lang="ts">
import type { {{name}}Props, {{name}}Emits } from './{{name}}.types';

defineOptions({
  name: 'Art{{name}}',
});

const props = defineProps<{{name}}Props>();
const emit = defineEmits<{{name}}Emits>();
</script>

<style lang="scss">
@use './{{name}}.scss' as *;
</style>